.jumbotron {
  padding-top: 6rem;
  background-color: #fae7b0;
}

#gallery {
  background-color: #fae7b0;
}

#about {
  padding-top: 5rem;
}

#gallery {
  padding-top: 5rem;
}

#contact {
  padding-top: 5rem;
}
